.botoncito {
  margin-top: 20px;
  height: 30px;
  border: solid 1px rgb(0, 0, 0, 0.4);
  font-weight: bold;
  width: 200px;
  border-radius: 20px;
  background-color: grey;
}

.botoncito:hover {
  color: red;
}
