.botoncito {
  height: 40px;
  border: solid 1px rgb(0, 0, 0, 0.4);
  font-weight: bold;
  width: 180px;
  border-radius: 20px;
  background-color: rgb(206, 22, 22);
}

.botoncito:hover {
  color: rgb(201, 178, 178);
}
