.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 25px;
  box-shadow: 2px 4px 10px 8px rgb(0, 0, 0, 0.4);
  background-color: rgb(0, 0, 0, 0.5);
}

.container:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-radius: 25px;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ratingContainer {
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  min-width: max-content;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 50px;
  padding: 4px;
}

.genresContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(19, 18, 18, 0.6);
  border-radius: 10px;
}

.genres {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  margin-bottom: 10px;
}
