.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.container img {
  height: 600px;
  width: 800px;
}

.button {
  margin-bottom: 40px;
}
