.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container img {
  height: 600px;
  width: 800px;
}

@media screen and (max-width: 550px) {
  .container img {
    height: 300px;
    width: 500px;
  }

  .container Button {
    width: 140px;
  }
}
