.botoncito {
  height: 40px;
  border: solid 1px rgb(0, 0, 0, 0.4);
  font-weight: bold;
  width: 180px;
  border-radius: 20px;
  background-color: #6f0aaa;
}

.botoncito img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.botoncito:hover {
  background-color: #3f085f;
  transition: 300ms;
  cursor: pointer;
}
