.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: solid 1px rgb(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  max-width: 190px;
  border-radius: 20px;
  background-color: rgb(111, 10, 170, 0.8);
  backdrop-filter: blur(4px) saturate(180%);
  padding: 20px;
  gap: 10px;
}

.container img {
  max-width: 30px;
}

.container:hover {
  background-color: rgba(131, 65, 148, 0.8);
  transition: 300ms;
  cursor: pointer;
}
