.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gameDetails {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 29px;
}

.infoContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.2);
  text-shadow: 2px 3px 4px rgb(126, 39, 240);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.image {
  height: 500px;
  width: 700px;
  margin-top: 30px;
  border-radius: 20px;
}

.title {
  font-size: 26px;
  color: rgb(137, 83, 158);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 800px;
  background-color: rgba(33, 20, 78, 0.2);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text h3 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.goHome {
  margin-top: 20px;
  margin-bottom: 40px;
}

.loader {
  margin-top: 220px;
  margin-left: 50px;
}

.optionGames {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.modifyButton Button {
  background-color: rgb(8, 78, 209);
}

.modifyButton Button:hover {
  background-color: rgb(21, 64, 145);
}

.deleteButton Button {
  background-color: rgb(224, 28, 28);
}

.deleteButton Button:hover {
  background-color: rgb(160, 23, 23);
}

.areYouSureModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.areYouSureModal img {
  margin: 10px;
  width: 100px;
}
.areYouSureModal h3 {
  margin-top: 10px;
}

.buttonsConfirmation {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.yes Button {
  background-color: red;
}

.yes Button:hover {
  background-color: rgb(158, 23, 23);
}

@media screen and (max-width: 920px) {
  .infoContainer {
    width: 500px;
  }

  .infoContainerPlus {
    width: 450px;
  }

  .image {
    height: 300px;
    width: 500px;
  }

  .text {
    width: 450px;
  }
}

@media screen and (max-width: 720px) {
  .infoContainer {
    width: 400px;
  }

  .infoContainerPlus {
    width: 350px;
  }

  .image {
    height: 200px;
    width: 350px;
  }

  .text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 350px;
    max-height: 350px;
    overflow: scroll;
  }
}

@media screen and (max-width: 520px) {
  .gameDetails h1 {
    font-size: 24px;
  }

  .infoContainer {
    width: 300px;
  }

  .infoContainerPlus {
    width: 250px;
  }

  .text {
    width: 250px;
  }
}
