.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 975px) {
  .container {
    height: 600px;
    overflow: scroll;
  }
}
