.createVideogameSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

.createVideogameSection h1 {
  text-shadow: 1px 3px 1px rgb(0, 0, 0);
}

.createVideogameSection img {
  width: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerForm {
  display: flex;
  flex-direction: column;
  background-color: rgba(45, 18, 54, 0.2);
  padding: 60px;
  border-radius: 20px;
}

.containerForm input {
  display: flex;
  padding: 5px;
  height: 40px;
  width: 600px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.3);
}

textarea:focus,
input:focus {
  outline: none;
}

.containerForm select {
  background-color: rgb(0, 0, 0, 0.3);
}

.containerForm label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nameInput p {
  color: red;
}

.nameInput:hover input {
  background-color: rgb(90, 34, 143);
  transition: 200ms;
}

.descriptionInput p {
  color: red;
}

.descriptionInput:hover input {
  background-color: rgb(90, 34, 143);
  transition: 200ms;
}

.ratingInput p {
  color: red;
}

.ratingInput:hover input {
  background-color: rgb(90, 34, 143);
  transition: 200ms;
}

.releasedInput p {
  color: red;
}

.platformsInput select {
  width: 600px;
  height: 100px;
}

.platformsInput p {
  color: red;
}

.genresInput select {
  width: 600px;
  height: 100px;
  border-radius: 10px;
}

.genresInput p {
  color: red;
}

.image {
  height: 40px;
}

.image:hover {
  background-color: rgb(90, 34, 143);
  transition: 200ms;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.submitButton {
  margin-top: 10px;
  margin-bottom: 30px;
}

.danger {
  color: red;
  border: 2px solid red;
}

.containerButtons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.clearInput {
  margin-top: 10px;
}

.modalContainer {
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-top: 30px;
}

.buttonCreated {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.imageCreated {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.platformsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
}

.platformsContainer span {
  padding: 5px;
  background-color: rgba(183, 0, 255, 0.1);
  border: solid 2px rgb(0, 255, 149);
  border-radius: 10px;
  font-size: 14px;
}

.platformsContainer span:hover {
  cursor: pointer;
  border: solid 2px rgb(255, 0, 0);
}

.genresContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
}

.genresContainer span {
  padding: 5px;
  background-color: rgba(183, 0, 255, 0.1);
  border: solid 2px rgb(0, 255, 149);
  border-radius: 10px;
  font-size: 14px;
}

.genresContainer span:hover {
  cursor: pointer;
  border: solid 2px rgb(255, 0, 0);
}

.imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.imagePreview img {
  max-height: 580px;
  width: 580px;
  border-radius: 10px;
}

.imagePreview p {
  height: 50px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.gameAlreadyExists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.gameAlreadyExists img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}

.gameAlreadyExists Button {
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  .createVideogameSection img {
    width: 100px;
  }

  .createVideogameSection h1 {
    font-size: 16px;
  }

  .containerForm {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .containerForm input {
    width: 300px;
  }

  .containerForm select {
    width: 300px;
  }

  .containerForm .image {
    width: 300px;
  }

  .imagePreview {
    width: 300px;
  }

  .imagePreview img {
    width: 280px;
  }

  .platformsContainer {
    width: 300px;
    height: 300px;
  }

  .genresContainer {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 470px) {
  .containerForm {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .buttonCreated Button {
    width: 152px;
  }

  .containerForm input {
    width: 250px;
  }

  .containerForm select {
    width: 250px;
  }

  .containerForm .image {
    width: 250px;
  }

  .containerButtons Button {
    width: 152px;
  }

  .imagePreview {
    width: 250px;
  }

  .imagePreview img {
    width: 230px;
  }

  .platformsContainer {
    width: 250px;
    height: 350px;
  }

  .genresContainer {
    width: 250px;
    height: 350px;
  }
}
