.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select:hover {
  background-color: #3f085f;
}

option:hover {
  color: #c9a0e0;
  background-color: #3f085f;
}

option {
  font-size: small;
  font-weight: bold;
}

option:checked {
  background-color: #7924aa;
}

option:focus {
  background-color: #7924aa;
}

.order {
  background-color: #3f085f;
  transition: 300ms;
  cursor: pointer;
  height: 30px;
  border: solid 1px rgb(255, 255, 255, 0.2);
  font-weight: bold;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.3);
  margin-top: 40px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 20px;
}

.order:focus {
  font-weight: bold;
  background-color: #6f0aaa;
}
.order:hover {
  font-weight: bold;
  background-color: #6f0aaa;
}

@media screen and (max-width: 1280px) {
  .container {
    margin-bottom: 20px;
  }

  .firstFilters {
    display: flex;
    flex-direction: column;
  }

  .secondFilters {
    display: flex;
    flex-direction: column;
  }

  .order {
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .container select {
    width: 120px;
  }

  .firstFilters select {
    width: 120px;
  }
  .secondFilters select {
    width: 120px;
  }
}
