.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/fondo-lluvia.webp') no-repeat center center
    fixed;
  gap: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.7);
}

.order {
  margin-left: 50px;
  margin-bottom: 20px;
}
