.container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 40px;
}

.page {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  padding: 2px;
  height: 30px;
  width: 50px;
  padding-bottom: 5px;
}

.number:hover {
  cursor: pointer;
  transition: 200ms;
}

.botoncito {
  margin-top: 20px;
  height: 30px;
  border: solid 1px black;
  font-weight: bold;
  font-size: 14px;
  width: 200px;
  border-radius: 20px;
  background-color: #6f0aaa;
}

.botoncito:hover {
  border: solid 3px white;
  background-color: rgb(178, 83, 199);
  color: white;
  transition: 500ms;
  cursor: pointer;
}

.botoncito:focus {
  background-color: rgb(0, 0, 0, 0.5);
}
