.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url('../../assets/fondo-lluvia.webp') no-repeat center center
    fixed;
  background-color: rgb(0, 0, 0, 0.2);
  gap: 500px;
}

.image {
  margin-top: 20px;
}

.logo:hover {
  transform: scale(0.95);
  transition: 700ms;
}
