{
    "env": {
        "browser": false,
        "es2021": true,
        "node": true
    },
    "extends": [
        "standard-with-typescript",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier"
    ],
    "plugins": ["promise", "@typescript-eslint", "import"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["src", "node_modules"]
            }
        }
    },
    "rules": {
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/strict-boolean-expressions": "off",
        // Only for this project
        "@typescript-eslint/no-misused-promises": "off",
        "@typescript-eslint/naming-convention": "off",
        // --------------------------------------------
        "import/no-unresolved": 0,
        "no-unused-vars": "error",
        "semi": "error",
        "no-console": [
            "warn",
            {
                "allow": ["warn", "error", "info"]
            }
        ],
        "eqeqeq": "warn",
        "no-var": "warn",
        "quotes": "error",
        "import/order": [
            "warn",
            {
                "groups": [
                    "type",
                    "builtin",
                    "object",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "pathGroups": [
                    {
                        "pattern": "~/**",
                        "group": "external",
                        "position": "after"
                    }
                ],
                "newlines-between": "always"
            }
        ],
        "padding-line-between-statements": [
            "warn",
            { "blankLine": "always", "prev": "*", "next": "return" },
            {
                "blankLine": "always",
                "prev": ["const", "let", "var"],
                "next": "*"
            },
            {
                "blankLine": "any",
                "prev": ["const", "let", "var"],
                "next": ["const", "let", "var"]
            }
        ]
    }
}
